body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 247, 247);
    opacity: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

/*Top of page elements*/
.header {
    position:fixed;
    top:0px;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.header li {
    margin-right: 15px;
    text-decoration:none;
    display:inline-block;
}
.logo {
    height: 50px;
    margin-left: 10px;
}

/*Main Page elements*/
.banner {
    
    background-image: url('../images/silohette.jpg');
    background-size: 1500px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}

.languages h2 {
    text-align: center;
}

.icon {
    width:100px;
    height:100px;
}


li { 
    text-decoration:none;
    display:inline-block;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Buttons*/
.button {
    background-color: #1c3133; 
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #000000;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button:hover {
    background-color: #555555;
    color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #000000;
  }
.button:action {
    box-shadow: 1px 1px 2px #000000;
}




/*Pictures*/
.pic {
    border-radius: 30px;
    box-shadow: 4px 4px 8px #000000;;
}
.pic:hover {
    border-radius: 30px;
    box-shadow:2px 2px 4px #000000;
}
.pic:active {
    box-shadow:1px 1px 2px #000000;
}


/*Bottom of page elements*/
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Life Experiences Page*/
.experience{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100%
}
.exbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/*Responsive for small screens*/
@media screen and (max-width: 600px) {  
    .header .button{
        font-size: 10px;
        padding: 5px 15px;
    }
    .icon {
        width:60px;
        height:60px;
    }
    .pic {
        width:30%;
        height:30%;
        border-radius: 10px;
    }
}